<% include ../../partials/header %>

    <% include ../../partials/nav %>

        <% include ../../partials/left-sidebar %>

            <style>
                body {
                    padding-right: 0px !important;
                }

                .dtp .p10>a {
                    color: white;
                    text-decoration: none;
                }

                .dtp>.dtp-content>.dtp-date-view>header.dtp-header {
                    background: #7e6990;
                    color: #fff;
                    text-align: center;
                    padding: 0.3em;
                }

                .dtp div.dtp-date,
                .dtp div.dtp-time {
                    background: #7e6990;
                    text-align: center;
                    color: #fff;
                    padding: 10px;
                }

                .dtp table.dtp-picker-days tr>td>a.selected {
                    background: #7e6990;
                    color: #fff;
                }
            </style>

            <!-- Main Content -->
            <section class="content">

                <% include ../../partials/content/header %>

                    <div class="container-fluid" id="add_data_section">
                        <div class="row clearfix">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="header">
                                        <h2><strong>Create</strong> Performance Report</h2>
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <p class="text-center text-primary">Your current branch is :
                                                    <strong>{{branch.name}}</strong>
                                                </p>
                                                <button @click="changeBranch" class="btn btn-primary">Change
                                                    Branch</button>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-lg-6 offset-lg-3">
                                                <% include ../notification/message %>
                                            </div>
                                        </div>

                                        <form @submit.prevent="downloadSupplierPerformanceReport">
                                            <h4 class="text-center">Supplier Wise Performance Report</h4>
                                            <div class="row mb-3 clearfix">
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">From Date</h6>
                                                    <div class="form-group">
                                                        <input type="text" id="fromDate"
                                                            class="form-control datetimepicker" placeholder="From Date"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">To Date</h6>
                                                    <div class="form-group">
                                                        <input type="text" id="toDate"
                                                            class="form-control datetimepicker" placeholder="To Date"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Supplier</h6>
                                                    <div class="form-group">
                                                        <select class="form-control" v-model="supplier">
                                                            <option :value="{id: supplier._id, name: supplier.name}"
                                                                v-for="(supplier, index) in allSupplier" :key="index"
                                                                class="text-capitalize">{{supplier.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Quantity</h6>
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" placeholder="Quantity"
                                                            v-model="quantity" min="1" step="any">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Performance Type</h6>
                                                    <div class="form-group">
                                                        <div class="radio inlineblock m-r-20">
                                                            <input type="radio" id="performance_type_1"
                                                                v-model="performance_type" value="best"
                                                                class="with-gap" />
                                                            <label for="performance_type_1">Best</label>
                                                        </div>
                                                        <div class="radio inlineblock">
                                                            <input type="radio" id="performance_type_0"
                                                                v-model="performance_type" value="worst"
                                                                class="with-gap" />
                                                            <label for="performance_type_0">Worst</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Report Type</h6>
                                                    <div class="form-group">
                                                        <select class="form-control" v-model="reportType">
                                                            <option value="pdf" class="text-capitalize">PDF</option>
                                                            <option value="excel" class="text-capitalize">Excel</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <button type="submit" :disabled="isDisable"
                                                        class="btn btn-primary btn-round"><span
                                                            v-if="isDisable">Downloading...</span><span
                                                            v-else>Download</span></button>
                                                    <button @click="clear_fields" type="button"
                                                        class="btn btn-default btn-round btn-simple">Reset</button>
                                                </div>
                                            </div>
                                        </form>

                                        <form @submit.prevent="downloadCategoryPerformanceReport" class="mt-3">
                                            <h4 class="text-center">Category Wise Performance Report</h4>
                                            <div class="row mb-3 clearfix">
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">From Date</h6>
                                                    <div class="form-group">
                                                        <input type="text" id="categoryfromDate"
                                                            class="form-control datetimepicker" placeholder="From Date"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">To Date</h6>
                                                    <div class="form-group">
                                                        <input type="text" id="categorytoDate"
                                                            class="form-control datetimepicker" placeholder="To Date"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Category</h6>
                                                    <div class="form-group">
                                                        <select class="form-control" v-model="category">
                                                            <option :value="{id: category._id, name: category.name}"
                                                                v-for="(category, index) in allCategory" :key="index"
                                                                class="text-capitalize">{{category.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Quantity</h6>
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" placeholder="Quantity"
                                                            v-model="quantity" min="1" step="any">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Performance Type</h6>
                                                    <div class="form-group">
                                                        <div class="radio inlineblock m-r-20">
                                                            <input type="radio" id="performance_type_20"
                                                                v-model="performance_type" value="best"
                                                                class="with-gap" />
                                                            <label for="performance_type_20">Best</label>
                                                        </div>
                                                        <div class="radio inlineblock">
                                                            <input type="radio" id="performance_type_30"
                                                                v-model="performance_type" value="worst"
                                                                class="with-gap" />
                                                            <label for="performance_type_30">Worst</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Report Type</h6>
                                                    <div class="form-group">
                                                        <select class="form-control" v-model="reportType">
                                                            <option value="pdf" class="text-capitalize">PDF</option>
                                                            <option value="excel" class="text-capitalize">Excel</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <button type="submit" :disabled="isDisable"
                                                        class="btn btn-primary btn-round"><span
                                                            v-if="isDisable">Downloading...</span><span
                                                            v-else>Download</span></button>
                                                    <button @click="clear_fields" type="button"
                                                        class="btn btn-default btn-round btn-simple">Reset</button>
                                                </div>
                                            </div>
                                        </form>

                                        <form @submit.prevent="downloadProductPerformanceReport" class="mt-3">
                                            <h4 class="text-center">Product Wise Performance Report</h4>
                                            <div class="row mb-3 clearfix">
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">From Date</h6>
                                                    <div class="form-group">
                                                        <input type="text" id="productfromDate"
                                                            class="form-control datetimepicker" placeholder="From Date"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">To Date</h6>
                                                    <div class="form-group">
                                                        <input type="text" id="producttoDate"
                                                            class="form-control datetimepicker" placeholder="To Date"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Quantity</h6>
                                                    <div class="form-group">
                                                        <input type="number" class="form-control" placeholder="Quantity"
                                                            v-model="quantity" min="1" step="any">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Report Type</h6>
                                                    <div class="form-group">
                                                        <select class="form-control" v-model="reportType">
                                                            <option value="pdf" class="text-capitalize">PDF</option>
                                                            <option value="excel" class="text-capitalize">Excel</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <h6 class="mt-2 mb-2">Performance Type</h6>
                                                    <div class="form-group">
                                                        <div class="radio inlineblock m-r-20">
                                                            <input type="radio" id="performance_type_22"
                                                                v-model="performance_type" value="best"
                                                                class="with-gap" />
                                                            <label for="performance_type_22">Best</label>
                                                        </div>
                                                        <div class="radio inlineblock">
                                                            <input type="radio" id="performance_type_33"
                                                                v-model="performance_type" value="worst"
                                                                class="with-gap" />
                                                            <label for="performance_type_33">Worst</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row clearfix">
                                                <div class="col-sm-12">
                                                    <button type="submit" :disabled="isDisable"
                                                        class="btn btn-primary btn-round"><span
                                                            v-if="isDisable">Downloading...</span><span
                                                            v-else>Download</span></button>
                                                    <button @click="clear_fields" type="button"
                                                        class="btn btn-default btn-round btn-simple">Reset</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/bwip-js/2.0.10/bwip-js-min.js"
                integrity="sha512-5uGnKj8h56cEozQZHq09metdJx1V6UM8qs7M+bG7EJMKYAKBl+CWo1SdmqU9RZTTlzIIa4xTCR5LWBY3spP9zw=="
                crossorigin="anonymous"></script>

            <script>
                new Vue({
                    el: '#add_data_section',
                    data: {
                        branch: '',
                        name: '',
                        allSupplier: [],
                        supplier: null,
                        allCategory: [],
                        category: null,
                        type: 'summery',
                        errorResponse: null,
                        successResponse: null,
                        isDisable: false,
                        isLoading: false,
                        quantity: 0,
                        performance_type: 'best',
                        reportType: 'pdf',
                        adminAccess: [],
                    },
                    mounted() {
                        this.adminAccess = '<%= data.adminInfo.admin_roles %>'.split(',')
                        this.checkBranchInfo()
                        this.getBranchInfo()
                        this.getSupplierInfo()
                        this.getCategoryInfo()
                    },
                    methods: {
                        getSupplierInfo() {
                            let requestLink = '/api/supplier?branch=' + localStorage.getItem('branch')
                            getType(requestLink).then((result) => {
                                if (result.auth === true) {
                                    this.allSupplier = result.response.data
                                    let supplierData = result.response.data
                                    this.supplier = { id: supplierData[0]._id, name: supplierData[0].name }
                                }
                            })
                        },
                        getCategoryInfo() {
                            let requestLink = '/api/category?branch=' + localStorage.getItem('branch')
                            getType(requestLink).then((result) => {
                                if (result.auth === true) {
                                    this.allCategory = result.response.data
                                    let categoryData = result.response.data
                                    this.category = { id: categoryData[0]._id, name: categoryData[0].name }
                                }
                            })
                        },
                        changeBranch() {
                            localStorage.removeItem('branch')
                            localStorage.setItem('referrerURL', window.location.href)
                            location.href = '<%= host %>' + '/product/branch/select'
                        },
                        checkBranchInfo() {
                            if (localStorage.getItem('branch')) {
                                let branchID = localStorage.getItem('branch')

                                let requestLink = '/api/branch/data/' + branchID
                                getType(requestLink).then((result) => {
                                    if (result.auth === true) {
                                        this.branch = {
                                            id: result.response.data._id,
                                            name: result.response.data.name
                                        }
                                    } else {
                                        localStorage.removeItem('branch')
                                        localStorage.setItem('referrerURL', window.location.href)
                                        location.href = '<%= host %>' + '/product/branch/select'
                                    }
                                })
                            } else {
                                localStorage.removeItem('branch')
                                localStorage.setItem('referrerURL', window.location.href)
                                location.href = '<%= host %>' + '/product/branch/select'
                            }
                        },
                        getBranchInfo() {
                            let requestLink = '/api/branch'
                            getType(requestLink).then((result) => {
                                if (result.auth === true) {
                                    this.allBranch = result.response.data
                                }
                            })
                        },
                        clear_notifications() {
                            this.errorResponse = null
                            this.successResponse = null
                        },
                        clear_fields() {
                            $("#fromDate").val("")
                            $("#toDate").val("")
                        },
                        downloadSupplierPerformanceReport() {
                            this.clear_notifications()
                            this.isDisable = true
                            this.isLoading = true
                            let token = localStorage.getItem('token')

                            let itemInfo = {
                                from: $("#fromDate").val(),
                                to: $("#toDate").val(),
                                reqire_quantity: this.quantity,
                                type: this.performance_type
                            }

                            if (this.supplier != 'all') {
                                itemInfo.supplier = this.supplier.id
                            } else {
                                itemInfo.supplier = 'all'
                            }

                            let requestLink = '/api/report/supplier/performance'
                            let filename = ''

                            requestLink += '?branch=' + localStorage.getItem('branch')

                            if (this.reportType == 'excel') {
                                var link = document.createElement('a');
                                link.target = "_blank";
                                link.href = "/api/report/supplier/performance/" + token + "/" + itemInfo.from + "/" + itemInfo.to + "/" + itemInfo.supplier + "/" + itemInfo.reqire_quantity + "/" + itemInfo.type + "?branch=" + localStorage.getItem('branch');

                                //link.download = 'all_customer_summery.pdf';
                                link.dispatchEvent(new MouseEvent('click'));
                                this.isDisable = false
                                this.isLoading = false
                                this.from = ''
                                this.to = ''
                            } else {
                                addNewType(requestLink, itemInfo, token).then((result) => {
                                    if (result.auth === false) {
                                        this.errorResponse = result.response
                                    } else {
                                        var link = document.createElement('a');
                                        link.href = result.response.fileLink;
                                        link.download = result.response.filename + '.pdf';
                                        link.dispatchEvent(new MouseEvent('click'));
                                        this.isDisable = false
                                        this.isLoading = false
                                        //this.clear_fields()
                                    }
                                    this.isDisable = false
                                })
                            }
                        },
                        downloadCategoryPerformanceReport() {
                            this.clear_notifications()
                            this.isDisable = true
                            this.isLoading = true
                            let token = localStorage.getItem('token')

                            let itemInfo = {
                                from: $("#categoryfromDate").val(),
                                to: $("#categorytoDate").val(),
                                reqire_quantity: this.quantity,
                                type: this.performance_type
                            }

                            if (this.category != 'all') {
                                itemInfo.category = this.category.id
                            } else {
                                itemInfo.category = 'all'
                            }

                            let requestLink = '/api/report/category/performance'
                            let filename = ''

                            requestLink += '?branch=' + localStorage.getItem('branch')

                            if (this.reportType == 'excel') {
                                var link = document.createElement('a');
                                link.target = "_blank";
                                link.href = "/api/report/category/performance/" + token + "/" + itemInfo.from + "/" + itemInfo.to + "/" + itemInfo.category + "/" + itemInfo.reqire_quantity + "/" + itemInfo.type + "?branch=" + localStorage.getItem('branch');

                                //link.download = 'all_customer_summery.pdf';
                                link.dispatchEvent(new MouseEvent('click'));
                                this.isDisable = false
                                this.isLoading = false
                                this.from = ''
                                this.to = ''
                            } else {
                                addNewType(requestLink, itemInfo, token).then((result) => {
                                    if (result.auth === false) {
                                        this.errorResponse = result.response
                                    } else {
                                        var link = document.createElement('a');
                                        link.href = result.response.fileLink;
                                        link.download = result.response.filename + '.pdf';
                                        link.dispatchEvent(new MouseEvent('click'));
                                        this.isDisable = false
                                        this.isLoading = false
                                        //this.clear_fields()
                                    }
                                    this.isDisable = false
                                })
                            }
                        },
                        downloadProductPerformanceReport() {
                            this.clear_notifications()
                            this.isDisable = true
                            this.isLoading = true
                            let token = localStorage.getItem('token')

                            let itemInfo = {
                                from: $("#productfromDate").val(),
                                to: $("#producttoDate").val(),
                                reqire_quantity: this.quantity,
                                type: this.performance_type
                            }


                            let requestLink = '/api/report/product/performance'
                            let filename = ''

                            requestLink += '?branch=' + localStorage.getItem('branch')

                            if (this.reportType == 'excel') {
                                var link = document.createElement('a');
                                link.target = "_blank";
                                link.href = "/api/report/product/performance/" + token + "/" + itemInfo.from + "/" + itemInfo.to + "/" + itemInfo.reqire_quantity + "/" + itemInfo.type + "?branch=" + localStorage.getItem('branch');

                                //link.download = 'all_customer_summery.pdf';
                                link.dispatchEvent(new MouseEvent('click'));
                                this.isDisable = false
                                this.isLoading = false
                                this.from = ''
                                this.to = ''
                            } else {
                                addNewType(requestLink, itemInfo, token).then((result) => {
                                    if (result.auth === false) {
                                        this.errorResponse = result.response
                                    } else {
                                        var link = document.createElement('a');
                                        link.href = result.response.fileLink;
                                        link.download = result.response.filename + '.pdf';
                                        link.dispatchEvent(new MouseEvent('click'));
                                        this.isDisable = false
                                        this.isLoading = false
                                        //this.clear_fields()
                                    }
                                    this.isDisable = false
                                })
                            }
                        }

                    }
                })
            </script>

            <% include ../../partials/footer %>

                <script>
                    $(function () {
                        //Datetimepicker plugin
                        $('.datetimepicker').bootstrapMaterialDatePicker({
                            format: 'YYYY-MM-DD',
                            clearButton: true,
                            weekStart: 1,
                            time: false
                        });
                    });
                </script>