<% include ../../partials/header %>

<% include ../../partials/nav %>

<% include ../../partials/left-sidebar %>

<style>
    body {
        padding-right: 0px !important;
    }

    .dtp .p10 > a {
    color: white;
    text-decoration: none;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #7e6990;
    color: #fff;
    text-align: center;
    padding: 0.3em;
}
.dtp div.dtp-date, .dtp div.dtp-time {
    background: #7e6990;
    text-align: center;
    color: #fff;
    padding: 10px;
}
.dtp table.dtp-picker-days tr > td > a.selected {
    background: #7e6990;
    color: #fff;
}


/*dropdown style*/
.dropdown-custom {
    width: 100%;
  }
  
  .dropdown-content-custom {
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #f1f1f1;
    z-index: 1;
    width: 90%;
    max-height: 250px;
    overflow-y: scroll;
    top: 38px !important;
  }

  .dropdown-custom > .searchField{
      width: 80% !important;
  }
</style>
<div id="add_data_section">
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel">Search Receive Return From Branch</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="getSearchedItems($event, 'supply_no_search')">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input style="width: 100%;" type="text" v-model="searchChalanNo"
                                        class="form-control"
                                        placeholder="Chalan No." required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit"
                        class="btn btn-primary waves-effect">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <h6 class="text-center">OR</h6>
                    </div>
                    <form @submit.prevent="getSearchedItems($event, 'supply_from_to_search')">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <select class="form-control" v-model="searchSupplier" required>
                                        <option value="">-- Select Supplier --</option>
                                        <option :value="{id: supplier._id, name: supplier.name}"
                                            v-for="(supplier, index) in allSupplier" :key="index"
                                            class="text-capitalize">{{supplier.name}}</option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input style="width: 100%;" type="text" id="searchFromDate"
                                        class="form-control datetimepicker"
                                        placeholder="From" required>
                                </div>
                            </div>
    
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input style="width: 100%;" type="text" id="searchToDate"
                                        class="form-control datetimepicker"
                                        placeholder="To" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit"
                        class="btn btn-primary waves-effect">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12" v-if="isSearchLoading">
                            <div class="spinner-border text-primary mt-4" style="margin: 0 auto" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col-sm-12" v-else v-show="!isSearchLoading">
                            <table class="table td_2 table-striped table-hover js-basic-example dataTable text-center"
                                id="infoListTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Requisition No</th>
                                        <th>Branch</th>
                                        <th>Total Quantity</th>
                                        <th>Total Cost</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody v-show="allSearchedData.length > 0">
                                    <tr v-for="(requesitionInfo, index) in allSearchedData" :key="index">
                                        <td>{{index+1}}</td>
                                        <td>{{requesitionInfo.serialNo}}</td>
                                        <td>{{requesitionInfo.branch.name}}</td>
                                        <td>{{requesitionInfo.totalQuantity}}</td>
                                        <td>{{requesitionInfo.totalAmount.toFixed(2)}}</td>
                                        <td>
                                            <span class="text-success font-bold" v-if="requesitionInfo.receivedStatus==true">Received</span>
                                            <button v-else type="button"
                                                class="btn btn-primary" style="padding: 4px 12px;
                                                margin: 0;" @click="loadRequestInfo(requesitionInfo)"  data-dismiss="modal">View</button>
                                        </td>
                                    </tr>
                                    <tr v-if="searchedItemCount.loadMore==true">
                                        <td colspan="6">
                                            <button class="btn btn-primary" @click="getSearchData()">Load
                                                more</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-show="allSearchedData.length == 0">
                                    <tr>
                                        <td colspan="6">No data found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" v-show="allSearchedData.length > 0">
                            <p class="text-primary">Total <strong>{{this.searchedItemCount.total}}</strong> searched
                                data found.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="searchReturnFromBranchModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="title" id="defaultModalLabel">Search Return From Branch</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="getReturnSearchedItems($event, 'supply_no_search')">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input style="width: 100%;" type="text" v-model="searchChalanNo"
                                        class="form-control"
                                        placeholder="Retrurn No." required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit"
                        class="btn btn-primary waves-effect">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12" v-if="isSearchLoading">
                            <div class="spinner-border text-primary mt-4" style="margin: 0 auto" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="col-sm-12" v-else v-show="!isSearchLoading">
                            <table class="table td_2 table-striped table-hover js-basic-example dataTable text-center"
                                id="infoListTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Requisition No</th>
                                        <th>Branch</th>
                                        <th>Total Quantity</th>
                                        <th>Total Cost</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody v-show="allReturnedSearchedData.length > 0">
                                    <tr v-for="(requesitionInfo, index) in allReturnedSearchedData" :key="index">
                                        <td>{{index+1}}</td>
                                        <td>{{requesitionInfo.serialNo}}</td>
                                        <td>{{requesitionInfo.branch.name}}</td>
                                        <td>{{requesitionInfo.totalQuantity}}</td>
                                        <td>{{requesitionInfo.totalAmount.toFixed(2)}}</td>
                                        <td>
                                            <span class="text-success font-bold" v-if="requesitionInfo.receivedStatus==true">Received</span>
                                            <button v-else type="button"
                                                class="btn btn-primary" style="padding: 4px 12px;
                                                margin: 0;" @click="loadReturnRequestInfo(requesitionInfo)"  data-dismiss="modal">View</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-show="allReturnedSearchedData.length == 0">
                                    <tr>
                                        <td colspan="6">No data found</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-12" v-show="allReturnedSearchedData.length > 0">
                            <p class="text-primary">Total <strong>{{this.searchedItemCount.total}}</strong> searched
                                data found.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <section class="content">

        <% include ../../partials/content/header %>

        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Receive</strong> From Branch</h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3">
                                    <% include ../notification/message %>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <button @click="clearSearchData()" type="submit" data-toggle="modal" data-target="#searchReturnFromBranchModal"
                                            class="btn btn-primary waves-effect float-right" data-backdrop="static"
                                            data-keyboard="false">Load Return From Branch</button> 
                                    <button @click="clearSearchData()" type="submit" data-toggle="modal" data-target="#searchModal"
                                            class="btn btn-primary waves-effect float-right" data-backdrop="static"
                                            data-keyboard="false">Receive From Branch</button>       
                                </div>
                            </div>
                            <form @submit.prevent="addProduct()">
                            <div class="row clearfix">
                                <div class="col-lg-4" v-if="isUpdateState">
                                    <h6 class="mt-2 mb-2">Receive Chalan No <span style="color: red;">*</span></h6>
                                    <div class="form-group">
                                        <input type="text" :value="chalanNoShow" class="form-control"
                                            placeholder="Receive Chalan No" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Branch</h6>
                                    <div class="form-group">
                                        <select class="form-control" @change="getSupplierInfo()" v-model="branch" disabled>
                                            <option value="">-- Select Branch --</option>
                                            <option :value="branch._id" style="text-transform: capitalize;" v-for="(branch, index) in allBranch">{{branch.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Return No</h6>
                                    <div class="form-group">
                                        <input type="text" :value="requisitionNo" class="form-control"
                                            placeholder="Requisition No" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Chalan Date <span style="color: red;">*</span></h6>
                                    <div class="form-group">
                                        <input type="text" v-model="requisition_date" class="form-control datetimepicker"
                                            placeholder="Requisition Date" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Supplier <span style="color: red;">*</span></h6>
                                    <div class="form-group form-inline dropdown dropdown-custom">
                                        <input type="text" v-model="supplierName" @keyup="filterSupplierList()"  class="form-control searchField dropdown-toggle" data-toggle="dropdown"
                                        placeholder="select a supplier" disabled>
                                        
                                        <div class="dropdown-menu dropdown-content-custom">
                                            <a @click.prevent="supplierSearchData({id: supplier._id, name: supplier.name})"
                                            v-for="(supplier, index) in supplierFilter" :key="index"
                                            class="dropdown-item text-capitalize" href="">{{supplier.name}}</a>
                                        </div>
                                        <button type="button" class="btn btn-primary waves-effect" @click="getProductSupplierWise()" style="padding: 10px 20px;margin: 0;"><i class="zmdi zmdi-refresh"></i></button>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Purpose</h6>
                                    <div class="form-group">
                                        <select class="form-control" v-model="purpose">
                                            <option value="">-- Select Purpose --</option>
                                            <option :value="purpose" style="text-transform: capitalize;" v-for="(purpose, index) in purposeList">{{purpose}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <h6 class="mt-2 mb-2">Remarks</h6>
                                    <div class="form-group">
                                        <input type="text" v-model="remarks" class="form-control"
                                        placeholder="Remarks">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Product Barcode</h6>
                                    <div class="form-group">
                                        <input style="width: 100%;" type="text" v-model="barcode"
                                            @change="getBarCode($event, barcode)" id="barcodeField" class="form-control"
                                            placeholder="Product Barcode">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Item</h6>
                                    <div class="form-group dropdown-custom dropdown">
                                        <input type="text" v-model="productName" @keyup="filterSupplierWiseProductList()"  class="form-control searchField dropdown-toggle" data-toggle="dropdown"
                                        placeholder="select a product" style="width:100% !important" :disabled="isSearchLoading">
                                        
                                        <div class="dropdown-menu dropdown-content-custom">
                                            <a @click.prevent="supplierWiseProductSearchData(product)"
                                            v-for="(product, index) in supplierWiseProductListFilter" :key="index"
                                            class="dropdown-item text-capitalize" href="">{{product.name}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Measurement Unit</h6>
                                    <div class="form-group">
                                        <select class="form-control" v-model="measurementUnit" :disabled="isSearchLoading">
                                            <option value="">-- Select Unit --</option>
                                            <option :value="unnitName"
                                                v-for="(unnitName, index) in measurementUnitList" :key="index"
                                                class="text-capitalize">{{unnitName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Cost Price</h6>
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="costPrice"
                                        placeholder="Cost Price" :disabled="isSearchLoading">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Current Stock</h6>
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="currentStock"
                                        placeholder="Current Stock" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Total</h6>
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="total"
                                        placeholder="Total" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h6 class="mt-2 mb-2">Quantity</h6>
                                    <div class="form-group">
                                        <input type="number" class="form-control" @change="changeQuantity"
                                        placeholder="Quantity" v-model="quantity" min="1" :disabled="isSearchLoading">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit"
                                                    class="btn btn-primary waves-effect" data-backdrop="static"
                                                    data-keyboard="false"><i class="zmdi zmdi-plus"></i></button>
                                                    <button type="submit"
                                                    class="btn btn-primary waves-effect" data-backdrop="static"
                                                    data-keyboard="false"><i class="zmdi zmdi-circle"></i></button>
                                </div>   
                            </div>
                        </form>
                            <div class="row clearfix">
                                <div class="col-lg-12">
                                    <div class="cart_management">
                                        <div class="col-sm-12">
                                            <h6 class="mt-2 mb-2">Product Details</h6>
                                            <div class="table-responsive">
                                                <table
                                                    class="table td_2 table-striped table-hover js-basic-example dataTable text-center"
                                                    id="infoListTable">
                                                    <thead>
                                                        <tr>
                                                            <th>SL</th>
                                                            <th>Barcode</th>
                                                            <th>Name</th>
                                                            <th>M. Unit</th>
                                                            <th>Req. Price</th>
                                                            <th>Sales Price</th>
                                                            <th>Req. Qty</th>
                                                            <th>St. Qty</th>
                                                            <th>Total</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody v-if="requestedProducts.length > 0 ">
                                                        <tr v-for="(requestDetails, index) in requestedProducts" key="index">
                                                            <td>{{index + 1}}</td>
                                                            <td>{{requestDetails.product.barcode}}</td>
                                                            <td style="width: 100px;">{{requestDetails.product.name}}</td>
                                                            <td>{{requestDetails.product.unit}}</td>
                                                            <td>
                                                                <input type="number" @change="updateInfo(index)" :id="'purchase_price_'+index" :value="requestDetails.product.price.purchase">
                                                            </td>
                                                            <td>
                                                                <input type="number" @change="updateInfo(index)" :id="'sell_price_'+index" :value="requestDetails.product.price.sell">
                                                            </td>
                                                            <td>
                                                                <input type="number" @change="updateInfo(index)" :id="'quantity_'+index" :value="requestDetails.product.quantity" min="0" step="any">
                                                            </td>
                                                            <td>
                                                                {{requestDetails.product.stock}}
                                                            </td>
                                                            <td>
                                                                {{requestDetails.product.total}} tk.</td>
                                                            <td>
                                                                <div @click="removeInfo(index)"
                                                                    title="remove"><i class="zmdi zmdi-close"></i>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody v-else>
                                                        <tr>
                                                            <td class="text-center" colspan="12">No data found here</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 offset-lg-3">
                                    <h6 class="mt-2 mb-2">Total Quantity</h6>
                                    <div class="form-group">
                                        <input type="text" class="form-control" :value="totalQuantity" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="mt-2 mb-2">Grand Total</h6>
                                    <div class="form-group">
                                        <input type="text" class="form-control" :value="grandTotal" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button type="submit"
                                                    class="btn btn-primary waves-effect" data-backdrop="static"
                                                    data-keyboard="false" @click="saveSupplierRequisition" v-show="!isUpdateState" :disabled="isLoading">Save</button>
                                                    <button type="submit"
                                                    class="btn btn-primary waves-effect" data-backdrop="static"
                                                    data-keyboard="false" @click="resetAllFields()">Reset</button>
                                                    <button type="submit"
                                                    class="btn btn-primary waves-effect" data-backdrop="static"
                                                    data-keyboard="false" @click="downloadRquisitionSlip(downloadRequestID)" v-if="isUpdateState" :disabled="isLoading">Download</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


<script>
    new Vue({
        el: '#add_data_section',
        data: {
            searchPageNo: 1,
            searchedItemCount: {
                total: 0,
                loadMore: false
            },
            allSearchedData: [],
            allReturnedSearchedData: [],
            isSearchLoading: false,
            searchText: '',
            orderID: null,
            branch: '',
            errorResponse: null,
            successResponse: null,
            isDisable: false,
            isLoading: false,
            isUpdateState: false,
            requsitionID: null,
            chalanNoShow: null,
            searchChalanNo: null,
            requisition_date: "",
            supplierFilter: [],
            allSupplier: [],
            allBranch: [],
            supplier: "",
            supplierName: "",
            productName: "",
            purposeList: [],
            purpose: "",
            remarks: "",
            supplierWiseProductListFilter: [],
            supplierWiseProductList: [],
            barcode: "",
            measurementUnitList: [],
            measurementUnit: "",
            costPrice: null,
            currentStock: null,
            total: 0,
            quantity: 0,
            vat: 0,
            selectedItem: "",
            requestedProducts: [],
            totalQuantity: null,
            grandTotal: null,
            searchSupplier: "",
            requisitionNo: "",
            _id: "",
            downloadRequestID: null,
            searchQueryStringRequest: '',
            adminAccess: []
        },
        mounted() {
            this.adminAccess = '<%= data.adminInfo.admin_roles %>'.split(',')
            this.getBranchInfo()
            this.getSupplierInfo()
            this.getCurrentDate()
            this.getPurposeData()
        },
        methods: {
            filterSupplierList(){
                if(this.supplierName!=""){
                    let search = new RegExp(this.supplierName , 'i');
                    this.supplierFilter = this.allSupplier.filter(supplierInfo => search.test(supplierInfo.name))
                }else{
                    this.supplierFilter = this.allSupplier
                }
            },
            filterSupplierWiseProductList(){
                if(this.productName!=""){
                    let search = new RegExp(this.productName , 'i');
                    this.supplierWiseProductListFilter = this.supplierWiseProductList.filter(productInfo => search.test(productInfo.name))
                }else{
                    this.supplierWiseProductListFilter = this.supplierWiseProductList
                }
            },
            supplierSearchData(data){
                this.supplierName = data.name
                this.supplier = data
                this.getProductSupplierWise()
            },
            supplierWiseProductSearchData(data){
                this.productName = data.name
                this.selectedItem = data
                this.autoFillProductInfo()
            },
            getPurposeData(){
                let requestLink = '/api/lookup/info/data/search/requisition_purpose'
                    getType(requestLink).then((result) => {
                        if (result.auth === true) {
                            result.response.data.map(purposeInfo=>{
                                this.purposeList.push(purposeInfo.title)
                            })
                        }
                    })
            },
            loadReturnRequestInfo(requestData){
                $("#searchReturnFromBranchModal").modal('toggle')
                this.requestedProducts = []

                requestData.products.map(productInfo=>{
                    this.requestedProducts.push({
                        product: productInfo
                    });
                });
                
                this.supplierName = requestData.supplier.name
                this.supplier = {
                    id: requestData.supplier._id,
                    name: requestData.supplier.name
                }
                this.getProductSupplierWise()
                this.requsitionID = requestData._id
                this.requisitionNo = requestData.serialNo
                this.branch = requestData.branch._id
                this.totalCalculation()
            },
            loadRequestInfo(requestData){
                $("#searchModal").modal('toggle')
                this.downloadRequestID = requestData._id
                this.requestedProducts = requestData.products
                this.supplier = {
                    id: requestData.supplier._id,
                    name: requestData.supplier.name
                }
                this.getProductSupplierWise()
                this.isUpdateState = true
                this.requsitionID = requestData._id
                this.chalanNoShow = requestData.serialNo
                this.totalCalculation()
            },
            saveSupplierRequisition(){
                if(this.branch==''){
                    return alert('Branch should be selected');
                }

                if(this.requestedProducts.length>0){
                    this.isLoading = true
                    let requestLink = '/api/warehouse/transaction/supply/return'
                    let token = localStorage.getItem('token')

                    let itemInfo= {
                        requisitionNo: this.requisitionNo,
                        supplier: this.supplier.id,
                        totalQuantity: this.totalQuantity,
                        totalAmount: this.grandTotal,
                        products: this.requestedProducts,
                        branch: this.branch,
                    }

                    addNewType(requestLink, itemInfo, token).then((result) => {
                        if (result.auth == true) {
                            this.successResponse = result.response
                            this.clear_forms()
                            this.downloadRequestID = result.response.data._id
                            this.isUpdateState = true
                            this.requsitionID = result.response.data._id
                            this.chalanNoShow = result.response.data.serialNo
                        } else {
                            this.errorResponse = result.response
                        }
                        this.isLoading = false
                        $('html, body').animate({
                            scrollTop: 0
                        }, 'slow', function () {});
                    })
                }else{
                    alert("Sorry no product selected yet.")
                }
            },
            totalCalculation(){
                let totalCost = 0
                let totalQuantity = 0
                this.requestedProducts.map((requestDetail, index)=>{
                    totalQuantity += Number(requestDetail.product.quantity)
                    totalCost += Number((Number(requestDetail.product.quantity)*Number(requestDetail.product.price.purchase)).toFixed(2))

                    if((this.requestedProducts.length-1)==index){
                        this.totalQuantity = totalQuantity
                        this.grandTotal = totalCost
                    }
                })
            },
            clearSearchData(){
                this.searchChalanNo = null
                this.allReturnedSearchedData = []
                this.allSearchedData = []
            },
            resetAllFields(){
                this.clear_forms()
                this.downloadRequestID = null
                this.isUpdateState = false
                this.requsitionID = null
                this.chalanNoShow = null
                this.requestedProducts = []
                this.supplierWiseProductList = []
                this.supplier = ""
                this.purpose = ""
                this.remarks = ""
                this.totalQuantity = null
                this.grandTotal = null
            },
            clear_forms(){
                this._id = ""
                this.barcode = ""
                this.productName = ""
                this.selectedItem = ""
                this.measurementUnitList = []
                this.measurementUnit = ""
                this.costPrice = null
                this.currentStock = null
                this.total = 0
                this.quantity = 0
                this.vat = 0
                this.getCurrentDate()
            },
            updateInfo(index){
                let purchase_price = Number($("#purchase_price_"+index).val())
                let sell_price = Number($("#sell_price_"+index).val())
                let quantity = Number($("#quantity_"+index).val())

                this.requestedProducts[index].product.price.purchase = purchase_price
                this.requestedProducts[index].product.price.sell = sell_price
                this.requestedProducts[index].product.quantity = quantity
                this.requestedProducts[index].product.total = Number((quantity * purchase_price).toFixed(2))

                this.totalCalculation()
            },
            removeInfo(index) {
                this.clear_forms()
                this.requestedProducts.splice(index, 1)
                this.totalCalculation()
            },
            addProduct(){
                if(this.barcode=="" || this.selectedItem.name==""){
                    return alert("Insert product info correctly.");
                }

                let searchResult = this.requestedProducts.filter((productInfo)=>{
                    return productInfo.product.barcode == this.barcode
                })

                if(searchResult.length > 0){
                    alert("This product is already added")
                }else{
                    this.requestedProducts.push({
                        requisition_date: this.requisition_date,
                        supplier: this.supplier.id,
                        purpose: this.purpose,
                        remarks: this.remarks,
                        product:{
                            _id: this.selectedItem._id,
                            barcode: this.barcode,
                            name: this.selectedItem.name,
                            unit: this.measurementUnit,
                            price: this.selectedItem.price,
                            stock: this.currentStock,
                            total: Number(this.total.toFixed(2)),
                            quantity: this.quantity,
                            vat: this.selectedItem.vat
                        }
                    })
                    $("#barcodeField").focus()
                }

                this.totalCalculation()
                this.clear_forms()
            },
            changeQuantity(){
                if(this.costPrice>-1){
                    this.total = this.quantity*this.costPrice
                }
            },
            autoFillProductInfo(){
                if(this.selectedItem==""){

                }else{
                    this._id = this.selectedItem._id
                    this.barcode = this.selectedItem.barcode
                    if(this.selectedItem.unitType){
                        this.measurementUnitList.push(this.selectedItem.unitType.name)
                        this.measurementUnit = this.selectedItem.unitType.name
                    }
                    this.costPrice = this.selectedItem.price.purchase
                    this.currentStock = this.selectedItem.quantity
                    this.quantity = 0
                    this.total = 0
                }
            },
            getProductSupplierWise(){
                if(this.supplier==""){
                    this.supplierWiseProductList = []
                    this.supplierWiseProductListFilter = []
                }else{
                    let requestLink = '/api/warehouse/product/supplier-wise/product/' +
                        '?supplier=' + this.supplier.id
                    this.isSearchLoading = true
                    getType(requestLink).then((result) => {
                        if (result.auth === true) {
                            this.productName = ""
                            this.supplierWiseProductListFilter = result.response.data
                            this.supplierWiseProductList = result.response.data
                            this.isSearchLoading = false
                        }
                    })
                }
            },
            getCurrentDate(){
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                
                today = yyyy + '-' + mm + '-' + dd;

                this.requisition_date = today
            },
            getSupplierInfo() {
                let requestLink = "/api/supplier?activeSupplier=true&warehouseSupplier=true"
                getType(requestLink).then((result) => {
                    if (result.auth === true) {
                        this.supplierName = ""
                        this.allSupplier = result.response.data
                        this.supplierFilter = result.response.data
                        console.log(result.response.data)
                    }
                })
            },
            searchReset() {
                this.searchPageNo = 1
                this.searchedItemCount = {
                    total: 0,
                    loadMore: false
                }
                this.allSearchedData = []
            },
            clearResponseMessage() {
                this.errorResponse = null
                this.successResponse = null
            },
            getBarCode(e, barcode) {
                this.addItem(barcode)
            },
            getBranchInfo() {
                let requestLink = '/api/branch'
                getType(requestLink).then((result) => {
                    if (result.auth === true) {
                        this.allBranch = result.response.data
                    }
                })
            },
            addItem(barcode) {
                let product = this.supplierWiseProductList.filter((product, index)=>{
                    return product.barcode == barcode
                })
                if(product.length>0){
                    this.selectedItem = product[0]
                    if(this.selectedItem.unitType){
                        this.measurementUnitList.push(this.selectedItem.unitType.name)
                        this.measurementUnit = this.selectedItem.unitType.name
                    }
                    this.costPrice = this.selectedItem.price.purchase
                    this.currentStock = this.selectedItem.quantity
                    this.quantity = 0
                    this.total = 0
                }else{
                    alert("No product found")
                }
            },
            checkSearchedDataInCart(id) {
                let flag = 0

                for (let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i].product._id == id) {
                        flag = 1
                    }
                }

                if (flag == 1) {
                    return true
                } else {
                    return false
                }
            },
            getSearchData() {
                let token = localStorage.getItem('token')

                let requestLink = '/api/warehouse/transaction/supply/return/' + this.searchPageNo + this.searchQueryStringRequest
                this.isSearchLoading = true
                getSecureData(requestLink, token).then((result) => {
                    if (result.auth === true) {
                        result.response.data.map((requisitionInfo) => {
                            console.log(requisitionInfo)
                            this.allSearchedData.push(requisitionInfo)
                        })
                        this.searchedItemCount = {
                            total: result.response.total,
                            loadMore: result.response.loadMore
                        }
                        this.searchPageNo = this.searchPageNo + 1
                    }
                    this.isSearchLoading = false
                })
            },
            getReturnedSearchData() {
                let token = localStorage.getItem('token')

                let requestLink = '/api/transaction/supplier/return/warehouse/' + this.searchPageNo + this.searchQueryStringRequest
               
                this.isSearchLoading = true
                getSecureData(requestLink, token).then((result) => {
                    if (result.auth === true) {
                        this.allReturnedSearchedData = result.response.data
                        this.searchedItemCount = {
                            total: result.response.total,
                            loadMore: result.response.loadMore
                        }
                        this.searchPageNo = this.searchPageNo + 1
                    }
                    this.isSearchLoading = false
                })
            },
            getReturnSearchedItems(e, searchType) {
                this.allSearchedData = []
                this.searchPageNo = 1
                let searchText="?"
                if(searchType=='supply_no_search'){
                    searchText += ('serialNo='+this.searchChalanNo)
                }
                this.searchQueryStringRequest = searchText
                this.getReturnedSearchData()
            },
            getSearchedItems(e, searchType) {
                this.allSearchedData = []
                this.searchPageNo = 1
                let searchText="?"
                if(searchType=='supply_no_search'){
                    searchText += ('serialNo='+this.searchChalanNo)
                }

                if(searchType=='supply_from_to_search'){
                    searchText += ('&supplier='+this.searchSupplier.id+'&from='+$("#searchFromDate").val()+'&to='+$("#searchToDate").val())
                }
                this.searchQueryStringRequest = searchText
                this.getSearchData()
            },
            downloadRquisitionSlip(downloadRequestID){
                this.isLoading = true
                let requestLink = '/api/warehouse/transaction/supply/return/print'
                let token = localStorage.getItem('token')

                let itemInfo = {
                    download_id: downloadRequestID
                }
                
                addNewType(requestLink, itemInfo, token).then((result) => {
                    if(result.response.auth==true){
                        var link = document.createElement('a');
                        link.href = result.response.fileLink;
                        link.download = 'return_from_branch.pdf';
                        link.dispatchEvent(new MouseEvent('click'));
                    }
                    this.isLoading = false
                })
            }
        }
    })
</script>

<script>
$(function () {
    //Datetimepicker plugin
    $('.datetimepicker').bootstrapMaterialDatePicker({
        format: 'YYYY-MM-DD',
        clearButton: true,
        weekStart: 1,
        time: false
    });
  });

  $("#add_data_section" ).on( 'wheel', function() {
    $('input[type=number]').on('mousewheel',function(e){ $(this).blur(); });
 });
  </script>

<% include ../../partials/footer %>